<section id="benefits" class="benefits-rewiews">
    <div class="container benefits-reviews-div">
      <h2 class="benefits-reviews-title"> <span> Benefits </span> of working with me</h2>
      <div class="bgr-img-benefits"></div>
      <ul class="benefits-reviews-list">
      
      <!-- <div class="benefit-column-0">
          <li class="benefits-reviews-list-item">
            <div class="benefits-reviews-block">
              <img src="." alt="">
              <div class="benefits-reviews-block-block">
                <h3 class="benefits-reviews-item"> </h3>
              </div>
            </div>
            <p class="benefits-reviews-item-text">
              
            </p>
          </li>
  
      </div> -->
      
      <div class="benefit-column-1">
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="." alt="">
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item"> </h3>
            </div>
          </div>
          <p class="benefits-reviews-item-text">
             
          </p>
        </li>

        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Expertise-mobile.svg" alt="">
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Expertise</h3>
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            With extensive experience in development, I have a deep understanding of programming and website development.
          </p>
        </li>
      </div>
      <div class="benefit-column-2">
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Communication-mobile.svg" alt="">
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Communication</h3>
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.
          </p>
        </li>
      
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Art-mobile.svg" alt="">
           <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Art</h3>
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.
          </p>
        </li> 
      </div>  
      <div class="benefit-column-3">
  
        <li class="benefits-reviews-list-item">
            <div class="benefits-reviews-block">
              <img src="../img/Urgent execution-mobile.svg" alt="">
              <div class="benefits-reviews-block-block">
                <h3 class="benefits-reviews-item">Urgent execution</h3>
              </div>
            </div>
            <p class="benefits-reviews-item-text">
                I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
            </p>
          </li>

          <li class="benefits-reviews-list-item">
            <div class="benefits-reviews-block">
              <img src="." alt="">
              <div class="benefits-reviews-block-block">
                <h3 class="benefits-reviews-item"> </h3>
              </div>
            </div>
            <p class="benefits-reviews-item-text">
               
            </p>
          </li> 

      </div>

      </ul>
    </div>
     </section>