
<div class="cotainer-hero">
  <div class="first-block">
    <div>
      <h1 class="first-block-title">
        Hello, i am <br />
        <span> fullstack developer</span>
      </h1>
      <div class="guy"></div>
    </div>
    <div class="first-block-desk">
      <div class="link-block">
        <div class="link-block-svg">
          <svg class="arrow" width="32" height="32">
            <use href="../img/arrow-right.svg#arrow"></use>
          </svg>
          <div class="guy"></div>
        </div>
        <div class="link-block-a">
          <a href="#" class="link-order">Order the project</a>
        </div>
        <div class="link-block-gr"></div>
      </div>

      <p class="first-block-parag">
        I work with people all over the world to create
        <span>impressive</span> and <span>functional websites</span> that
        reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <div class="second-block">
    <ul class="second-block-list">
      <li>
        <a
          rel="stylesheet"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://github.com/NatAn240185/project-js-group-2"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</div>
      <div class="second-block">
        <ul class="second-block-list">
          <li>
            <a
              rel="stylesheet"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              >Facebook</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://github.com/NatAn240185/project-js-group-2"
              target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
    


