<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-tittle">REVIEWS</h2>
    <div class="reviews-swiper swiper">
      <ul class="reviews-list swiper-wrapper js-reviews-box-list"></ul>
      <div class="btn-wrapper">
        <button
          class="reviews-btn-previous js-reviews-btn-previous reviews-btn"
          type="button"
          aria-label="Button previous"
        >
          <svg class="reviews-btn-icon reviews-arrow" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-left2"></use>
          </svg>
        </button>
        <button
          class="reviews-btn-next js-reviews-btn-next reviews-btn"
          type="button"
          aria-label="Button next"
        >
          <svg class="reviews-btn-icon reviews-arrow" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
