<section>
  <div class="marquee">
    <div class="marquee__inner">
      <div class="marquee__line">
        <p></p>
        <p class="item">HTML/CSS</p>
        <p class="item">JAVASCRIPT</p>
        <p class="item">REACT</p>
        <p class="item">NODE.JS</p>
        <p class="item">REACT NATIVE</p>
        <p class="item">TYPESCRIPT</p>
      </div>
      <div class="marquee__line">
        <p class="item">HTML/CSS</p>
        <p class="item">JAVASCRIPT</p>
        <p class="item">REACT</p>
        <p class="item">NODE.JS</p>
        <p class="item">REACT NATIVE</p>
        <p class="item">TYPESCRIPT</p>
      </div>
    </div>
  </div>
  <div class="marquee second">
    <div class="marquee__inner">
      <div class="marquee__line">
        <p></p>
        <p class="item sec-row">HTML/CSS</p>
        <p class="item sec-row">JAVASCRIPT</p>
        <p class="item sec-row">REACT</p>
        <p class="item sec-row">NODE.JS</p>
        <p class="item sec-row">REACT NATIVE</p>
        <p class="item sec-row">TYPESCRIPT</p>
      </div>
      <div class="marquee__line">
        <p class="item sec-row">HTML/CSS</p>
        <p class="item sec-row">JAVASCRIPT</p>
        <p class="item sec-row">REACT</p>
        <p class="item sec-row">NODE.JS</p>
        <p class="item sec-row">REACT NATIVE</p>
        <p class="item sec-row">TYPESCRIPT</p>
      </div>
    </div>
  </div>
</section>