       <section class="work-together">
            <div class="container">
                <h2 class="work-together-title">Let's <span class="wt-title-green">work together</span></h2>
                <div class="wt-content">
                    <div class="wt-contacts">
                        <p class="wt-contacts-text">Contact me to transform your ideas into exceptional solutions</p>
                        <address>
                            <ul class="wt-contacts-list">
                                <li><a class="wt-contacts-item" href="tel:+380904567890"><svg class="contact-list-icon"
                                            width="24" height="24">
                                            <use href="../img/work_together_icons.svg#icon-wt_icon_1-1"></use>
                                        </svg>+38 090 456 78 90</a></li>
                                <li><a class="wt-contacts-item" href="mailto:lloydjefferson@gmail.com"><svg
                                            class="contact-list-icon" width="24" height="24">
                                            <use href="../img/work_together_icons.svg#icon-wt_icon_2-2"></use>
                                        </svg>lloydjefferson@gmail.com</a></li>
                                <li><a class="wt-contacts-item" href=" "><svg class="contact-list-icon" width="24"
                                            height="24">
                                            <use href="../img/work_together_icons.svg#icon-wt_icon_3-2"></use>
                                        </svg>USA, New York</a></li>
                            </ul>
                        </address>
                    </div>
                    <div class="wt-form-content">
                        <form class="wt-form">
                            <label class="wt-label">
                                <input class="wt-input" type="email" name="wt-email" placeholder="Your email*" required>
                                <span id="email-valid-icon" style="display: none;"><svg width="16" height="16">
                                        <use href="../img/work_together_icons.svg#icon-wt_input_success-filled-2"></use>
                                    </svg>
                                </span>
                            </label>
                            <label class="wt-label">
                                <textarea class="wt-textarea" name="user-comment" placeholder="Message"></textarea>
                            </label>
                        </form>
                        <button class="wt-button" type="submit">SEND MESSAGE</button>
                    </div>
                </div>
        </section>
        
