@import url('./base.css');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'izitoast/dist/css/iziToast.min.css';

.reviews-section {
  padding: 40px 0;
}
.reviews-tittle {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.reviews-list {
  margin-bottom: 24px;
}
.reviews-item {
  display: flex;
  width: 320px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #e4e5e6;
}
.reviews-text {
  width: 256px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  align-self: stretch;
}
.reviews-person-details {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.reviews-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}
.reviews-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.btn-wrapper {
  display: flex;
  gap: 16px;
  justify-content: right;
  align-items: center;
}

.reviews-btn-previous,
.reviews-btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1 solid #292929;
}
.reviews-btn-previous:hover,
.reviews-btn-next:hover {
  border-color: #ed3b44;
  box-shadow: 0 0 15px #ed3b44;
}

.reviews-button-icon {
  stroke: #fafafa;
  fill: none;
  transition: 0.35s ease-in-out;
}

.reviews-btn-previous:hover .reviews-button-icon,
.reviews-btn-next:hover .reviews-button-icon {
  stroke: #ed3b44;
}

.swiper-button-disabled {
  border: 1px solid #fafafa33;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  transition: 0.35s ease-in-out;
}
.swiper-button-disabled .reviews-button-icon {
  stroke: #3b3b3b;
}

@media screen and (min-width: 768px) {
  .reviews-box-btn {
    gap: 20px;
  }

  .reviews-btn-previous,
  .reviews-btn-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .reviews-button-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-tittle {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 1.14;
  }
  .reviews-item {
    width: 704px;
  }
  .reviews-text {
    width: 640px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-tittle {
    margin-bottom: 80px;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
