@import url('./base.css');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'izitoast/dist/css/iziToast.min.css';

.reviews-section {
  padding: 40px 0;
}
.reviews-tittle {
  font-family: var(--second-family);
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.reviews-list {
  margin-bottom: 24px;
}
.reviews-item {
  display: flex;
  width: 320px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #e4e5e6;
}
.reviews-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  align-self: stretch;
}
.reviews-person-details {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.reviews-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}
.reviews-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.btn-wrapper {
  display: flex;
  gap: 16px;
  justify-content: right;
  align-items: center;
}

.reviews-btn-previous,
.reviews-btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1 solid;
}

.reviews-section .reviews-btn:focus,
.reviews-btn:hover {
  border: 1px solid #292929;
  background: #e4e5e6;
}
.reviews-section .reviews-btn:disabled {
  border: 1px solid #e4e5e6;
  cursor: no-drop;
}
.reviews-section .reviews-btn:disabled .btn-icon {
  --color: #e4e5e6;
  opacity: 0.22;
}
.reviews-section .reviews-btn:disabled .btn-icon {
  stroke: #3b3b3b;
}
.reviews-section .reviews-error-text {
  margin: 0 auto;
  font-size: 30px;
}
.reviews-btn-icon {
  fill: #292929;
}

@media screen and (min-width: 768px) {
  .reviews-tittle {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 1.14;
  }
  .reviews-item {
    width: 704px;
  }
  .reviews-text {
    width: auto;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-tittle {
    margin-bottom: 80px;
  }
  .reviews-text {
    height: 96px;
  }
  .reviews-list {
    height: 224px;
    display: flex;
    flex-direction: row;
    width: calc((100% - 32px) / 2);
  }
}
