/*Mobile*/
.work-together-title {font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.wt-title-green {
    color: #00B068;
}

.wt-contacts {
    margin-bottom: 40px;
}

.wt-contacts-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.wt-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wt-contacts-item {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #434455;
}

.wt-contacts-item:hover {
    color: #00B068;
}

.contact-list-icon {
    margin-right: 8px;
}

.wt-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

.wt-label {
    display: flex;
    flex-direction: column;
    position: relative;
}

.wt-input {
    width: 320px;
    border-radius: 8px;
    padding: 16px;
    background-color: #E4E5E6;
}

.wt-input.invalid-mail {
    color: #E74A3B;
}

.error-message {
    font-weight: 300;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #E74A3B;
}

#email-valid-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);    
}

.wt-textarea {
    width: 320px;
    border-radius: 8px;
    padding: 16px;
    min-height: 128px;
    background-color: #E4E5E6;
}

.wt-button {
    border-radius: 8px;
    padding: 12px 24px;
    width: 320px;
    height: 48px;
    background-color: #00B068;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F0F0F0;
    border-color: #00B068;
}

.wt-button:hover {
    background-color: #009156;
}

.backdrop {background: var(--black);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.8;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wt-modal {border: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 48px 32px;
    width: 320px;
    height: 328px;
    position: absolute;
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #92a59d;
    border: none;
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #fff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wt-modal-title {font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    text-align: center;
    color: #00B068;
    margin-bottom: 16px;
}

.wt-modal-text {font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
.work-together {
    background-image: linear-gradient(rgba(215, 215, 221, 0.3), rgba(215, 215, 221, 0.3)), url(../img/Decor\ bg_tab_1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}


@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .work-together {
        background-image: linear-gradient(rgba(215, 215, 221, 0.3),
                rgba(215, 215, 221, 0.3)), url(../img/Decor\ bg_tab_2x.png);}}

.work-together-title {font-size: 108px;
        margin-bottom: 60px;}

    .wt-contacts-text {font-size: 20px;
        line-height: 160%;
        width: 488px;}

    .wt-contacts {margin-bottom: 60px;}

    .wt-contacts-list {flex-direction: row;}

    .wt-form {margin-bottom: 32px;}

    .wt-input {min-width: 704px;}

    .wt-textarea {min-width: 704px;}

    .wt-button {
        width: 173px;
        height: 48px;
        background-color: #00B068;
    }

    .wt-modal {
        border-radius: 16px;
        padding: 64px;
        width: 492px;
        height: 280px;
    }
}

@media screen and (min-width: 1280px) {
.work-together {background-image: linear-gradient(rgba(215, 215, 221, 0.3), rgba(215, 215, 221, 0.3)), url(../img/Decor\ bg_desktop_1x.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}
  
@media screen and (min-resolution: 192dpi),(min-resolution: 2dppx) {
.work-together {background-image: linear-gradient(rgba(215, 215, 221, 0.3),
    rgba(215, 215, 221, 0.3)), url(../img/Decor\ bg_desktop_2x.png);
    }}

    .work-together-title {
        font-size: 108px;
        line-height: 115%;
        margin-top: 30px;
        margin-bottom: 80px;
        letter-spacing: 0.02em;
        width: 520px;}

    .wt-content {display: flex;
        flex-direction: row;
        gap: 136px;}

    .wt-contacts-text {
        font-size: 20px;
        line-height: 160%;
        margin-bottom: 120px;
        width:488px;}

    .wt-contacts-list {
        display: flex;
        flex-direction: column;
    }

    .wt-form-content {
        display: flex;
        flex-direction: column;}

    .wt-input {
        width: 592px;
    }

    .wt-textarea {
        width: 592px;
        min-height: 128px;
    }

    .wt-button {
        width: 173px;
    }

    .wt-modal {
        padding: 64px;
        width: 492px;
        min-height: 280px;
    }}